html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: white;
    background-image: url(/backgrounds/TicTacToeBackground.jpg);
}

body {
    margin-bottom: 60px;
    background-color: white;
    background-image: url(/backgrounds/TicTacToeBackground.jpg);
}

.GameLobbyTable{
    background-color:ghostwhite;
}

.TicTacToe-Board {
    border: 3px solid white;
    margin: auto;
}

.lobby-form{
    background-color: lightgray;
    border: 3px solid white;
    margin: auto;
}

.Name-input-form{
    margin: 0 auto;
    height: 65px;
    width: 300px;
    background-color: lightgrey;
}

.LoseSession-window {
    padding: 5px;
    background-color: lightgray;
}

.text-center {
    margin: auto;
    height: 420px;
    width:420px;
    padding: 20px;
    background-color: lightgray;
}

#Start-Button {
    margin-top: 15px;
}

#Finish-Button {
    margin-top: 15px;
}

td {
    height: 80px;
    width: 80px;
    border: 2px solid black;
}

.TicTacToeButton {
    font-size: 20px;
    height: 80px;
    width: 80px;
    border: 1px dotted black;
}
