@{
    ViewData["Title"] = "Registry Page";
}

<h2>Здарова!</h2>

<form method="post" asp-area="" asp-controller="Home" asp-action="AddUser">
    <div class="Name-input-form">
			<div align="center">
				Введи свой позывной, фраер:
			</div>
			<div align="center">
				<input class="name-input" type="text" value="" id="playerName" name="playerName">
				<button type="submit">Start</button>
			</div>
    </div>
</form>