@{
    ViewData["Title"] = "Registry Page";
}

<h2>Здарова!</h2>

<form method="post" asp-area="" asp-controller="Home" asp-action="AddUser">
    <div>
        <div>
           Введи свой позывной, фраер:
        </div>
        <input class="name-input" type="text" value="" id="playerName" name="playerName">
     <button type="submit">Start</button>
    </div>
</form>