@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["IsJqueryEnabled"] = true;
	ViewData["Title"] = "Wait for player";
}
<div style="background-color: lightgray;">
	<h1>
		Ждите своей учести!
	</h1>

	<h2>
		За вами уже выехали ^_^
	</h2>
</div>

<script>
var timeReload = 1;//время в сек
var timenow=0;

    function Recheck()
    {
		console.log("Checked!");
		$.ajax(
			{
				type:'POST',
				url: '../Api/GetUsers',
				success: function (result){
					console.log('Data received: ');
					console.log(result);
				}
			}
		)
    }
	var t = setInterval("Recheck()", 1000);
</script>