@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="background-color: lightgray;">
	<h1>
		Ждите своей учести!
	</h1>

	<h2>
		За вами уже выехали ^_^
	</h2>
</div>
